
  <h4> <%= @character["character_name"] %> </h4>
  <p>
    <ul>
      <li> Class: <%= @character["char_class"] %> </li>
      <li> Race: <%= @character["race"] %> </li>
      <li> Alignment: <%= @character["alignment"] %> </li>
      <li> XP: <%= @character["experience_points"] %> </li>
      <li> Background: <%= @character["background"] %> </li>
    </ul>
  </p>
  <p>
  <%= form_tag "characters/#{@character['id']}", method: :delete do %>
  <input type="Submit" value="Delete this character">
  <% end %>
  </p>
  

